* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    color: #333;
    font-size: 62.5%;
    font: normal normal 12px/12px "FuturaLTPro-Book","Arial Bold",sans-serif;

  }
  .main {
/* 
    background-image: url(./banner.jpg);
    height: 500px; /* You must set a specified height
    background-position: center; /* Center the image
    background-repeat: no-repeat; /* Do not repeat the image
    background-size: cover; Resize the background image to cover the entire container
     */
    /* min-height: 100vh;
    display: flex;
    justify-content: center; */
  }
  .heading {
    letter-spacing: 4px;
    font-size: 10rem;
    text-align: center;
    margin: 20% 10% 10%;
  }
  .header-wrapper--function {
    display: flex;
    height: 12vh;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: #1b1b1b82;
    align-items: center;
    color: white;
}
.header-logo {
    font-size: 2rem;
    opacity: 0.7;
}
.header__function-first, .header__function-seconds {
    font-size: 1rem;
}

.header__function-list {
    padding: 0;
    display: flex;
    list-style: none;

}
.header__function-seconds {

}
.header__function-list--item {
    cursor: pointer;
    padding: 0 8px;
    opacity: 0.7;
}
.header__function-list--item:hover {
    opacity: 1;
    font-size: 0.8rem;
}
  .form {
    width: 60%;
    margin: 0 20%;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    align-self: center;
  }
  .form-group--checkbox {
    text-align: left;
    margin: 4% 0;
  }
  .checkbox-lable {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 16px;
  }

  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    text-transform: uppercase;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
  
  .form-control {
    height: 40px;
    border: none;
    padding: 8px 0;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1rem;
  }
  
  .form-control:hover {
    border-color: black;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    text-transform: uppercase;
    background-color: black;
    padding: 18px 24px;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black ; 
  }
  
  .spacer {
    margin-top: 36px;
  }
  #footer {

    background-color: #1b1b1b;
}
.footer-wrapper  {
    justify-content: space-between;
    margin: 12% 4% 0 4%;
    display: flex;
    font-size: 0.6rem;
    padding: 2%;
}
.footer__list {
}
.footer__list:first-child {
    width: 20%;
}
.footer__list:last-child {
     
    width: 25%;
}
.footer__list-title {
    font-size: 10px;
    padding: 6px 0;
    color:#e5dfd985;
    margin: 16px 0 16px ;
    list-style: none;
}
.footer__list-title--item {
    font-size: 10px;
    padding: 6px 0;
    color:#e5dfd9cf;
    cursor: pointer;
    opacity: 0.7;
}
.footer__list-title--item:hover {
    opacity: 1;
    font-size: 11px ;
    font-weight: 600;
}